pkgbase = i3configger
	pkgdesc = i3 config manipulation tool
	pkgver = 0.7.5
	pkgrel = 1
	url = http://oliver.bestwalter.de/i3configger/
	arch = any
	license = MIT
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-setuptools
	depends = python-psutil
	depends = python-daemon
	depends = python-docutils
	source = https://pypi.io/packages/source/i/i3configger/i3configger-0.7.5.tar.gz
	sha256sums = 1c1cd542f1a604ca1340cde47274ffff4de9fb1e16f1ac9ee55a060c2f228a3f

pkgname = i3configger

